<h1>Customer Representative Home</h1>

<h2>Customer Representative Options</h2>

<div class="container pt-4">
    <div class="row">
        <div class="col">
            <h4 class="mb-1">Record a Date</h4> <br>
            <a href="" class="btn btn-primary mb-2">Record Date</a> <br>
        </div>
        <div class="col">
            <h4 class="mb-1">Manage Customer</h4> <br>
            <a href="" class="btn btn-primary mb-2">Add Customer</a> <br>
            <a href="" class="btn btn-primary">View / Edit / Delete Customer</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4 class="mb-1">View Customer Mailing List</h4> <br>
            <a href="" class="btn btn-primary">Customer Mailing List</a> <br>
        </div>
        <div class="col">
            <h4 class="mb-1">View Date Suggestions for Customers</h4> <br>
            <a href="" class="btn btn-primary">View Date Suggestions</a> <br>
        </div>
    </div>  
    <div class="row mt-4">
        <div class="col mt-4">
            <div class="text-center">
                <a href="/employeeLogin" class="btn btn-danger"><b>Back To Login</b></a>
            </div>
        </div>  
    </div>
</div>
