<h1>Customer Home</h1>

<h2>Customer Options</h2>
Welcome back {{customer.FirstName}} {{customer.LastName}}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="container p-4 m-4 border">
                <div class="row">
                    <div class="col">
                        <h4 class="mb-1">Dating Options</h4> <br>
                        <a href="" class="btn btn-primary mb-2">Browse All Profiles</a> <br>
                        <a href="" class="btn btn-primary">Comment / Cancel Date</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container p-4 m-4 border">
                <div class="row">
                    <h4 class="mb-4">Profile Info</h4> <br>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="" class="btn btn-primary mb-2">Pending Dates</a> <br>
                        <a href="" class="btn btn-primary mb-2">Past Dates</a> <br>
                        <a href="" class="btn btn-primary mb-2">Favorites</a> <br>
                        <a href="" class="btn btn-primary">Search Based On</a>
                    </div>
                    <div class="col">
                        <a href="" class="btn btn-primary mb-2">Most Active Profiles</a> <br>
                        <a href="" class="btn btn-primary mb-2">Highly Rated Profiles</a> <br>
                        <a href="" class="btn btn-primary mb-2">Popular Geo Locations</a> <br>
                        <a href="" class="btn btn-primary">Suggested Dates</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <a href="/customerLogin" class="btn btn-danger"><b>Back To Login</b></a>
</div>