<h1>Customer Login Page</h1>
</br>
<form action='/customerLogin/customerHome' id="customer">
    <label for="user">Email: </label>
    <input class="form-control" type="text" name="user" required>
    </br>
    <label for="pass">Password: </label>
    <input class="form-control" type="password" name="pass" required>
</form>
</br>
<button class="btn btn-primary" type="submit" form="customer">Login</button> 
<br>
<div class="mt-4">
    <a href="/employeeLogin" class="btn btn-primary">Employee Login</a>
    <a href="/" class="btn btn-primary">Back To Home</a>
</div>