<h1>Employee Login Page</h1>
</br>
<form action='/employeeLogin/employeeHome' id="employee">
    <label for="user">Email: </label>
    <input class="form-control" type="text" name="user" required>
    </br>
    <label for="pass">Password: </label>
    <input class="form-control" type="password" name="pass" required>
</form>
</br>
<button class="btn btn-primary" type="submit" form="employee">Login</button>
<div class="mt-4">
    <a href="/customerLogin" class="btn btn-primary">Customer Login</a>
    <a href="/" class="btn btn-primary">Back To Home</a>
</div>