<div class="container pt-4">
    <div class="text-center">
        <img src="../images/penguinHugging.gif" class="rounded" alt="Penguins hugging" width="50%">
        
        <h1 class="mt-4 pb-4">Welcome to Lovefinderzz Using Express</h1>
        <div class="container pt-4">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/employeeLogin" class="btn btn-primary">Employee Login </a>
                </div>
                <div class="col">
                    <a href="/customerLogin" class="btn btn-primary">Customer Login </a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>