<h1>Manager Home</h1>

<h2>Manager Options</h2>

<div class="container pt-4">
    <div class="row">
        <div class="col">
            <h4 class="mb-1">Manage Employee</h4> <br>
            <a href="" class="btn btn-primary mb-2">Add Employee</a> <br>
            <a href="" class="btn btn-primary">View / Edit / Delete Employee</a>
        </div>
        <div class="col">
            <h4 class="mb-1">Manage Users</h4> <br>
            <a href="" class="btn btn-primary mb-2">Add Users</a> <br>
            <a href="" class="btn btn-primary">View / Edit / Delete Users</a>
        </div>
        <div class="col">
            <h4 class="mb-1">Sales Report</h4> <br>
            <a href="" class="btn btn-primary">Sales Report</a> <br>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4 class="mb-1">View all Users</h4> <br>
            <a href="" class="btn btn-primary">View All Users</a>
        </div>
        <div class="col">
            <h4 class="mb-1">Dates</h4> <br>
            <a href="" class="btn btn-primary mb-2">View Dates</a> <br>
            <a href="" class="btn btn-primary">View Summary Listing of Revenue</a>
        </div>
        <div class="col">
            <h4 class="mb-1">View Highest Revenue Generators</h4> <br>
            <a href="" class="btn btn-primary mb-2">Customer Representative</a> <br>
            <a href="" class="btn btn-primary">Customer</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4 class="mb-1">View Most Active User</h4> <br>
            <a href="" class="btn btn-primary">View Most Active User</a>
        </div>
        <div class="col">
            <h4 class="mb-1">View Dated Users</h4> <br>
            <a href="" class="btn btn-primary mb-2">View Dated Users</a> <br>
        </div>
        <div class="col">
            <h4 class="mb-1">View Highest Rated</h4> <br>
            <a href="" class="btn btn-primary mb-2">Customers</a> <br>
            <a href="" class="btn btn-primary">Calendar Dates</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4 class="mb-1">Backup</h4> <br>
            <a href="" class="btn btn-primary mb-2">Backup Database</a> <br>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <a href="/employeeLogin" class="btn btn-danger"><b>Back To Login</b></a>
</div>