<h1 class="text-center">Add A New Employee</h1>
<form action='' id='AddEmployee'>
    <input type="hidden" name="user" value="{{employee.Email}}">
    <input type="hidden" name="pass" value="{{employee.Password}}">

    <label class="mt-2" for='Role'>Role</label>
    <br>
    <select id='Role' name='Role'>
        <option value="Manager">Manager</option>
        <option value="CustRep">Customer Representative</option>
    </select>
    <br>

    <label class="mt-2" for='Email'>Email Address</label>
    <input class='form-control' type='email' name='Email' placeholder="johndoe@gmail.com" required>

    <label class="mt-2" for='Password'>Password</label>
    <input class='form-control' type='password' name='Password' placeholder="**********" required>

    <label class="mt-2" for='FirstName'>First Name</label>
    <input class='form-control' type='text' name='FirstName' placeholder="First Name" required>

    <label class="mt-2" for='LastName'>Last Name</label>
    <input class='form-control' type='text' name='LastName' placeholder="Last Name" required>

    <label class="mt-2" for='Address'>Address</label>
    <input class='form-control' type='text' name='Address' placeholder="Address" required>

    <label class="mt-2" for='City'>City</label>
    <input class='form-control' type='text' name='City' placeholder="City" required>

    <label class="mt-2" for='State'>State</label>
    <input class='form-control' type='text' name='State' placeholder="State" required>

    <label class="mt-2" for='Zipcode'>Zipcode</label>
    <input class='form-control' type='number' name='Zipcode' placeholder="Zipcode" required>

    <label class="mt-2" for='Telephone'>Telephone</label>
    <input class='form-control' type='tel' name='Telephone' placeholder="(###) ###-####" pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}" required>

    <label class="mt-2" for='SSN'>SSN</label>
    <input class='form-control' type='text' name='SSN' placeholder="555-55-5555" pattern="\d{3}-?\d{2}-?\d{4}" required>

    <label class="mt-2" for='StartDate'>Start Date</label>
    <input class='form-control' type='date' name='StartDate' required>

    <label class="mt-2" for='HourlyRate'>Hourly Rate</label>
    <input class='form-control' type='number' name='HourlyRate' placeholder="Hourly Rate" required>

    <input class='btn btn-primary' type='submit' value='Submit' form='AddEmployee'>
    <a class="btn btn-primary m-4" href="/employeeLogin/employeeHome?user={{employee.Email}}&pass={{employee.Password}}">Back To Home</a>  
</form>