<h1 class="text-center">Manager Home</h1>
<br><br><br>
<h2>Manager Options</h2>
<form method="get" id="managerAction">
    <form method="post" id="managerAction">
        <input type="hidden" name="user" value="{{employee.Email}}">
        <input type="hidden" name="pass" value="{{employee.Password}}"> 
    </form>
    <div class="container pt-4">
        <div class="row">
            <div class="col">
                <h4 class="mb-1">Manage Employee</h4> <br>
                <input type="submit" class="btn btn-primary mb-2" value="Add Employee" form="managerAction" formaction='/employeeLogin/employeeHome/addEmployee'> <br>
                <input type="submit" class="btn btn-primary" value="View / Edit / Delete Employee" form="managerAction" formaction='/employeeLogin/employeeHome/viewEditDeleteEmployee'>
            </div>
            <div class="col">
                <h4 class="mb-1">Manage Users</h4> <br>
                <input type="submit" class="btn btn-primary mb-2" value="Add User" form="managerAction" formaction='/employeeLogin/employeeHome/addCustomer'> <br>
                <input type="submit" class="btn btn-primary mb-2" value="View / Edit / Delete Users" form="managerAction" formaction='/employeeLogin/employeeHome/viewEditDeleteCustomer'> <br>
            </div>
            <div class="col">
                <h4 class="mb-1">Sales Report</h4> <br>
                <input type="submit" class="btn btn-primary mb-2" value="Sales Report" form="managerAction" formaction='/employeeLogin/employeeHome/salesReport'> <br>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4 class="mb-1">View all Users</h4> <br>
                <input type="submit" class="btn btn-primary mb-2" value="View All Users" form="managerAction" formaction='/employeeLogin/employeeHome/viewAllUsers'> <br>
            </div>
            <div class="col">
                <h4 class="mb-1">Dates</h4> <br>
                <input type="submit" class="btn btn-primary mb-2" value="View Dates" form="managerAction" formaction='/employeeLogin/employeeHome/viewDates'> <br>
                <input type="submit" class="btn btn-primary mb-2" value="View Summary Listing of Revenue" form="managerAction" formaction='/employeeLogin/employeeHome/revenueByDates'> <br>
            </div>
            <div class="col">
                <h4 class="mb-1">View Highest Revenue Generators</h4> <br>
                <a href="" class="btn btn-primary mb-2">Customer Representative</a> <br>
                <a href="" class="btn btn-primary">Customer</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4 class="mb-1">View Most Active User</h4> <br>
                <a href="" class="btn btn-primary">View Most Active User</a>
            </div>
            <div class="col">
                <h4 class="mb-1">View Dated Users</h4> <br>
                <a href="" class="btn btn-primary mb-2">View Dated Users</a> <br>
            </div>
            <div class="col">
                <h4 class="mb-1">View Highest Rated</h4> <br>
                <a href="" class="btn btn-primary mb-2">Customers</a> <br>
                <a href="" class="btn btn-primary">Calendar Dates</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4 class="mb-1">Backup</h4> <br>
                <a href="" class="btn btn-primary mb-2">Backup Database</a> <br>
            </div>
        </div>
    </div>
</form>
<div class="text-center mt-4">
    <a href="/employeeLogin" class="btn btn-danger"><b>Back To Login</b></a>
</div>
